@charset "UTF-8";

#bar{
    border-top:black 1px solid;
    height: 42px;
    background-color: #E67BAD
}
h1{
    color: #FFFFFF
}

#container{
    margin-left: 10%;
    margin-top: 10px;
    text-align: center;
    width: 80%;
    line-height : 20px;
}
#content{
    font-size: 25px;
}
#content div{
    margin-top: 20px;
    margin-bottom: 10px;
}
#profile{
    font-size: 20px;
}

#profileImage{
    width: 200px;
    height: 150px;
    margin-top: 10px;
}
