<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>간단한 지도 표시하기</title>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=fh0tkqv9ud&submodules=geocoder"></script>
</head>
<body>
<div id="map" style="width:100%;height:600px;"></div>
<button type="button" onclick="geoCode()">ㅁㄴㅇㄹ</button>
<script>
    var map = new naver.maps.Map("map", {
        center: new naver.maps.LatLng(37.3595316, 127.1052133),
        zoom: 15,
        mapTypeControl: true
    });

    var infoWindow = new naver.maps.InfoWindow({
        anchorSkew: true
    });

    map.setCursor('pointer');

    function searchCoordinateToAddress(latlng) {

        infoWindow.close();

        naver.maps.Service.reverseGeocode({
            coords: latlng,
            orders: [
                naver.maps.Service.OrderType.ADDR,
                naver.maps.Service.OrderType.ROAD_ADDR
            ].join(',')
        }, function(status, response) {
            if (status === naver.maps.Service.Status.ERROR) {
                if (!latlng) {
                    return alert('ReverseGeocode Error, Please check latlng');
                }
                if (latlng.toString) {
                    return alert('ReverseGeocode Error, latlng:' + latlng.toString());
                }
                if (latlng.x && latlng.y) {
                    return alert('ReverseGeocode Error, x:' + latlng.x + ', y:' + latlng.y);
                }
                return alert('ReverseGeocode Error, Please check latlng');
            }

            var address = response.v2.address,
                htmlAddresses = [];

            if (address.jibunAddress !== '') {
                htmlAddresses.push('[지번 주소] ' + address.jibunAddress);
            }

            if (address.roadAddress !== '') {
                htmlAddresses.push('[도로명 주소] ' + address.roadAddress);
            }

            infoWindow.setContent([
                '<div style="padding:10px;min-width:200px;line-height:150%;">',
                '<h4 style="margin-top:5px;">검색 좌표</h4><br />',
                htmlAddresses.join('<br />'),
                '</div>'
            ].join('\n'));

            infoWindow.open(map, latlng);
        });
    }

    function searchAddressToCoordinate(address) {
        naver.maps.Service.geocode({
            query: address
        }, function(status, response) {
            if (status === naver.maps.Service.Status.ERROR) {
                if (!address) {
                    return alert('Geocode Error, Please check address');
                }
                return alert('Geocode Error, address:' + address);
            }

            if (response.v2.meta.totalCount === 0) {
                return alert('No result.');
            }

            var htmlAddresses = [],
                item = response.v2.addresses[0],
                point = new naver.maps.Point(item.x, item.y);

            if (item.roadAddress) {
                htmlAddresses.push('[도로명 주소] ' + item.roadAddress);
            }

            if (item.jibunAddress) {
                htmlAddresses.push('[지번 주소] ' + item.jibunAddress);
            }

            if (item.englishAddress) {
                htmlAddresses.push('[영문명 주소] ' + item.englishAddress);
            }

            infoWindow.setContent([
                '<div style="padding:10px;min-width:200px;line-height:150%;">',
                '<h4 style="margin-top:5px;">검색 주소 : '+ address +'</h4><br />',
                htmlAddresses.join('<br />'),
                '</div>'
            ].join('\n'));

            map.setCenter(point);
            infoWindow.open(map, point);
        });

        var marker = new naver.maps.Marker({
            position: new naver.maps.LatLng(item.x, item.y),
            map: map
        });
    }

    function initGeocoder() {
        if (!map.isStyleMapReady) {
            return;
        }

        map.addListener('click', function(e) {
            searchCoordinateToAddress(e.coord);
        });

        $('#address').on('keydown', function(e) {
            var keyCode = e.which;

            if (keyCode === 13) { // Enter Key
                searchAddressToCoordinate($('#address').val());
            }
        });

        $('#submit').on('click', function(e) {
            e.preventDefault();

            searchAddressToCoordinate($('#address').val());
        });

        searchAddressToCoordinate('정자동 178-1');
    }

    naver.maps.onJSContentLoaded = initGeocoder;
    naver.maps.Event.once(map, 'init_stylemap', initGeocoder);
</script>
</body>
</html>
<doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>한국주소 좌표변환 - korea address to geocode</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?clientId=fh0tkqv9ud&submodules=geocoder"></script>
    <script>
        function searchAddressToCoordinate(address) {
            naver.maps.Service.geocode({
                address: address
            }, function(status, response) {
                if (status === naver.maps.Service.Status.ERROR) {
                    return alert('주소를 확인후 다시 시도 바랍니다.');
                }
                $("#resultNum").text(response.result.items.length+"개");
                for(i=0;i<response.result.items.length;i++){
                    var item=response.result.items[i];
                    addrType = item.isRoadAddress ? '[도로명 주소]' : '[지번 주소]';
                    str = "<tr><th rowspan=2>"+(i+1)+"</th><th>변환주소</th><td>"+addrType+item.address+"</td></tr><tr><th>좌표</th><td>lat-"+item.point.y+", lng-"+item.point.x+"</td></tr>";
                    $("#result table tbody").append(str);
                }
            });
        }
        function sendAddr(){
            if(!$('#address').val()){
                alert("변환할 주소를 입력해주세요.");
                $("#address").focus();
            }else{
                $("#result table tbody, #resultNum").html("");
                searchAddressToCoordinate($('#address').val());
            }
        }
        $(function(){
            $("#address").focus();
        });
    </script>
</head>
<body>
<div id="inputAddr">
    <table>
        <colgroup>
            <col width="110" />
            <col width="*" />
        </colgroup>
        <tbody>
        <tr>
            <th>변환할 주소</th>
            <td>
                <input type="text" id="address" placeholder="예)송파대로 100" value="" onkeyup="if(window.event.keyCode == 13){sendAddr();}">
                <input type="button" id="submit" value="변환" onClick="sendAddr()">
            </td>
        </tr>
        <tr>
            <th>검색수</th>
            <td id="resultNum"></td>
        </tr>
        </tbody>
    </table>
</div>
<div id="result">
    <table>
        <colgroup>
            <col width="30" />
            <col width="80" />
            <col width="*" />
        </colgroup>
        <tbody>
        </tbody>
    </table>
</div>
</body>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=fh0tkqv9ud&submodules=geocoder">
    </script>
</head>
<body>
<div id="map" style="width:100%;height:400px;"></div>
<input type="text" id="address" placeholder="예)송파대로 100" value="" onkeyup="if(window.event.keyCode == 13){sendAddr();}">
<input type="button" id="submit" value="변환" onClick="sendAddr()">
<script>
    var mapOptions = {
        center: new naver.maps.LatLng(37.3595704, 127.105399),
        zoom: 10
    };

    var map = new naver.maps.Map('map', mapOptions);
    var marker = new naver.maps.Marker({
        position: new naver.maps.LatLng(37.3595704, 127.105399),
        map: map
    });
    function searchAddressToCoordinate(address) {
        naver.maps.Service.geocode({
            address: address
        }, function(status, response) {
            if (status === naver.maps.Service.Status.ERROR) {
                return alert('주소를 확인후 다시 시도 바랍니다.');
            }
            $("#resultNum").text(response.result.items.length+"개");
            for(i=0;i<response.result.items.length;i++){
                var item=response.result.items[i];
                addrType = item.isRoadAddress ? '[도로명 주소]' : '[지번 주소]';
                str = "<tr><th rowspan=2>"+(i+1)+"</th><th>변환주소</th><td>"+addrType+item.address+"</td></tr><tr><th>좌표</th><td>lat-"+item.point.y+", lng-"+item.point.x+"</td></tr>";
                $("#result table tbody").append(str);
            }
        });
    }
    function sendAddr(){
        if(!$('#address').val()){
            alert("변환할 주소를 입력해주세요.");
            $("#address").focus();
        }else{
            $("#result table tbody, #resultNum").html("");
            searchAddressToCoordinate($('#address').val());
        }
    }
    $(function(){
        $("#address").focus();
    });
</script>
</body>
