<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/footer.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/header.css}">
    <script type="text/javascript" th:src="@{/js/index.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title> 새로운 인연. 그린내 - 메인 </title>
</head>
<body>
<header>
    <section id="header_bar">
        <a id="logo" th:href="@{/}"><img th:src="@{/img/logo2.png}" alt="로고" width="120px" height="60px"></a>
        <nav id="header_menu">
            <ul>
                <li style="font-size:large">안녕하세요 <span th:text="${accountContext.getUsername()}"/> 님</li>
               <li sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{user/custom}">회원 목록 편집</a></li>
                <li><a href="/doLogout">로그아웃</a></li>
                <li><a th:href="@{/myprofile}">마이 프로필</a></li>
                <li><a href="#">관리자에게 문의</a></li>
            </ul>
        </nav> <!-- 주요 탑메뉴 기능들 -->
    </section> <!-- section top -->
    <div class="clear"></div>
    <nav id="main_menu">
        <ul>
            <li><a href="#">홈</a></li>
            <li><a href="#">내가 누른 추천목록</a></li>
            <li><a th:href="@{/room}">오픈채팅방</a></li>
            <li><a href="#">검색</a></li>
            <li><a th:href="@{board/boardList}"}>게시물 탐색</a></li>
        </ul>
    </nav> <!-- 메인 메뉴 모음 -->
    <div class="clear"></div>
</header> <!--header -->

<div class="clear"></div>

<section id="main">
    <section id="page_control">
        <div id="page_cont">
            <span>회원 정보는 16개씩 페이징 됩니다 </span>
        </div>
        <div id="page_button">
            <div class="text-center">
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-sm">
                        <li th:if="${page.isPrev()}" class="page-item"><a th:href="@{/?page={page}(page = ${page.getCurPage()-1})}" class="page-link" href="#">Prev</a></li>
                        <li th:unless="${page.isPrev()}" class="page-item disabled"><a class="page-link">Prev</a></li>
                        <li class="page-item" th:each="num, index: ${#numbers.sequence(page.getStartPage(), page.getEndPage())}">
                            <a th:href="@{/?page={page}(page = ${index.current-1})}" th:text="${num}" class="page-link" href="">1</a>
                        </li>
                        <li th:if="${page.isNext()}" class="page-item"><a th:href="@{/?page={page}(page = ${page.getCurPage()+1})}" class="page-link" href="#">Next</a></li>
                        <li th:unless="${page.isNext()}" class="page-item disabled"><a class="page-link">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>

    <div class="clear"></div>

    <section id="main_content">
        <th:block th:each="User:${user}">
            <div class="user_form">
            <div class="user_img">`
                <a id="user" href="#"><img th:src="@{${'/display/?fileName='+User.getUserImagePath()}}" width="170px" height="120px"></a>
            </div>

            <div class="user_info">
                <div class="user_name" ><span th:text="${User.getUsername()}"/></div>
                <div class="user_age"><span th:text="${User.getRealname()}"/></div>
                <div class="user_job"><span th:text="${User.getAge()}"/></div>
                <br>
                <div class="user_height"><span th:text="${User.getSex()}"/></div>
                <div class="user_weight"><span th:text="${User.getStreet()}"/></div>
            </div>
            <div class="user_disc">
                <span th:text="${User.getIntroduce()}"/>
            </div>
            <div class="user_button">
                <button class="user_like" th:onclick="|javascript:likeup(${User.getId()})|">추천</button>
                <div>추천 수 :<span th:text="${User.getLike()}"/></div>
            </div>
        </div>
        </th:block>


    </section>
    <div class="clear"></div>
</section> <!-- section main -->




<footer>
    <section id="footer_menu_box">
        <nav id="footer_menu">
            <ul>
                <li><a href="#">홈</a></li>
                <li><a href="#">회사소개</a></li>
                <li><a href="#">이용약관</a></li>
                <li><a href="#">개인정보취급방침</a></li>
                <li><a href="#">적립금</a></li>
                <li><a href="#">이용안내</a></li>
            </ul>
        </nav>
    </section> <!-- section footer_menu_box -->

    <section id="footer_address">
        <p>Copyright ⓒ 2021 그린내 All rights reserved.</br>
            전화 : 010-6284-7384 근무시간: 오전 10:00 ~ 오후 05:00</br>
            Contact freely0208@nate.com for more information</br>
            법인명(상호):이파트너 주소:서울특별시 고척동 경인로 445 </br>
            사업자 등록번호 안내 [130-42-29900] / 통신업 신고 제 2021-서울-7086호 [사업자정보확인]</br>
            개인정보관리책임자 :이현민 소분 제2010-0368061호(seonghoo1217@naver.com) / 대표자(성명):이성호</p>
    </section> <!-- section footer_address -->
</footer>
</body>
</html>